.button {
  background: #39c071;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: lighten( #39c071,5);
  }
}